body {font-family: Arial;}

		/* Style the tab */
		.tab {
		    overflow: hidden;
		    display: flex;
		    //justify-content: center;
		}

		/* Style the buttons inside the tab */
		.tab a {
			//border: 1px solid #ccc;
		    //background-color: #f1f1f1;
		    cursor: pointer;
		    padding: 14px 16px;
		    font-size: 17px;
		    //text-align:middle;
		    margin-left:1%;
		}

		.tab a:hover{
			transition: 0.3s;
		    //background-color: inherit;
		    border: none;
		    outline: none;
		    background: none !important;
    		text-decoration: none !important;
		}

		/* Create an active/current tablink class */
		.tab a.active {
		    border-bottom: 3px solid blue;
		    background: none !important;
    		text-decoration: none !important;
		}

		.tab li {
		    margin: 0 auto;
    		float: left;
		}

		#navbar {
			float: left;
		}

		/* Style the tab content */
		.tabcontent {
		    padding: 6px 12px;
		    -webkit-animation: fadeEffect 1s;
		    animation: fadeEffect 1s;
		}

		/* Fade in tabs
		@-webkit-keyframes fadeEffect {
		    from {opacity: 0;}
		    to {opacity: 1;}
		}

		@keyframes fadeEffect {
		    from {opacity: 0;}
		    to {opacity: 1;}
		}*/

		#min_topmenu{
	    	background: none;
		    border: 0;
		}

		.show-title:after {
            content:attr(title);
            font-weight: bold;
            color: white;
            padding:5px 10px;
            margin-left: 20px;
            border-radius: 2px;
            border:1px solid #2D4D4D;
            background: #2D4D4D;
        }