.attributemapping, .long-field{
    width: 700px !important;
}
.select2-choice{

}
.q-a-table{
    width: 160%;
    padding-left: 6%;
    border-spacing: 0 2em;
}

.q-a-table .input-td{
    padding: 10px 0px;
}

.q-a-table .question-td{
    text-align: right;
    padding: 15px 40px;
}

.questions.divs-to-display{
    padding: 10px 80px;
}

.q-a-table .question-td-main{
    text-align: left;
    padding-right: 40px;
}

.question-table .question-main{
    width: 300px;
    text-align: right;
    padding: 15px 10px;
}

.question-table .input-td{
    padding: 10px 0px;
}

.description{
    width: 500px;
}

.test-config-table th, .test-config-table td {
    border: 1px solid #d0d0d0;
}

.test-config-table th, .test-config-table td {
    padding: 10px 10px;
}

.custom-table {
    border-collapse: collapse;
}
.question-table{
    padding: 0px 0px;
    border-spacing: 0 1em;
}

.question-table .question-td {
    width: 300px;
    padding-right: 20px;
}

.custom-table td {
    padding: 10px 0px;
}

.config-pages {
    width: 100%;
}

.questions {
    padding: 0px 20px;
}

.options {
    padding: 10px 40px;
}

.end-buttons {
    padding: 50px 20px;
}

.back-link {
    padding: 0px 30px;
}

.next-button {
    width: 135px;
}

.divs-to-display {
    padding: 20px 80px;

}

.p-question {
    padding: 10px 0px;
}

.container {
    border-radius: 5px;
    padding: 20px;
    height: 530px;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
}

a {
    cursor: pointer;
}