.pill-nav {
    margin-top: 20px;
}

.pill-nav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    background: #cec9c9;
}

.pill-nav a:hover {
    background-color: #ddd;
    color: black;
}
.pill-nav a.active {
    background-color: #4f7fc5;
    color: white;
}