.show-title:after {
    content: attr(title);
    font-weight: bold;
    color: white;
    padding: 5px 10px;
    margin-left: 20px;
    border-radius: 2px;
    border: 1px solid #2D4D4D;
    background: #2D4D4D;
}