.mo-grid {
    display: grid;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    -webkit-box-pack: center;
    justify-content: center;
    grid-gap: 2rem;
    margin-top: 2em;
}

.mo-idp{
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.mo-search{
    width: 94%;
    margin-left: 2%;
   border: none;
    color: black;
    outline: 0;
    text-align: left;
    vertical-align: top;
    border: 0;
     border-radius: 4px;
    padding: 8px 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    background-color: #fff;
    box-shadow: none!important;
    border: 3px solid #E9E9E9;
    min-height: 35px;
    background: #ffffff;
}

.mo-block:hover{
background: #f4f5f7;
border: 1px solid #bfbdbd;
border-radius: 6px;
}

.mo-block {
    background: #ffffff;
    height: 6rem;
    width: 15rem;
    border: 1px solid #bfbdbd;
    box-sizing: border-box;
    box-shadow: 0px 0px 16px rgba(128,128,128,0.2);
    border-radius: 6px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 2em 3em 0em 0em;
}

.mo-idp img{height: 4rem;
              width:11rem;}