<html>
   <head>
	    <meta name="decorator" content="atl.general">
       #set ($count = $customAttributeMapping.keySet().size())
       #set ($attribute = $extendedAttributesList)
	    <script>
	        jQuery(document).ready(function() {
	            jQuery(".aui-nav li").removeClass("aui-nav-selected");
	            jQuery("#aui-uid-3").addClass("aui-nav-selected");

                var cnt = '$count';
                document.getElementById("idTotalNumberOfRoles").value = cnt;
                for (var i=0;i<cnt;i++) {
                    AJS.$("#userAttrKey_"+i).auiSelect2();
                }
	        });

            var counter = '$count';
            console.log("counter : ", counter);
            var extendedAttributes = '$attribute';
            var optionElement ="";

            var extendedAttribute =  extendedAttributes.substr(1, (extendedAttributes.length-2)).split(',');

            for(var attr in extendedAttribute) {
                optionElement=optionElement +'<option value ="'+extendedAttribute[attr]+'">'+extendedAttribute[attr]+'</option>';
            }

            function GetDynamicTextBox(value){
                var htmlElement = '<br/>'+'<select id = "userAttrKey_'+counter+'"  name = "userAttrKey_'+counter+'"  placeholder="Confluence Attributes" style="width:250px;vertical-align:bottom">'
                        +'<option value ="select-attribute-to-map">Select Attribute to Map</option>'
                        +optionElement
                        +'</select> &nbsp&nbsp;'
                        +'<input id = "userAttrValue_'+counter+'" name = "userAttrValue_'+counter+'"  type="text" class="text" placeholder="Attributes from IdP" style="width: 322px value = "' + value + '" />' +'&nbsp&nbsp;'
                        +'<input type="button" value="Remove" class="aui-button aui-button-primary"  onclick = "RemoveTextBox(this,'+counter+')" />'
                return htmlElement;
            }

            function RemoveTextBox(div, loopCount) {
                document.getElementById("attributeMappingInnerContainer").removeChild(div.parentNode);
            }

            function AddTextBox() {
                var div = document.createElement('DIV');
                div.innerHTML = GetDynamicTextBox("");
                var attributeMappingInnerContainer = document.getElementById("attributeMappingInnerContainer");
                attributeMappingInnerContainer.insertBefore(div,attributeMappingInnerContainer.childNodes[0] );
                AJS.$("#userAttrKey_"+counter).auiSelect2();
                counter++;

                document.getElementById("idTotalNumberOfRoles").value = parseInt(document.getElementById("idTotalNumberOfRoles").value) + 1;
            }

            function toggleRecommendations() {
                AJS.$("#group-mapping-recommendation").toggle(400);
            }

	    </script>
	</head>
    <body>
    	 #parse("template/com/miniorange/oauth/confluence/header.vm")
		 <div class="tabs-pane active-pane" id="attribute-mapping">
         	<p style="font-size:14pt;">Configure Attribute Mapping</p>
         	<hr class="header"/>
         		<p>User Profile allows you to map your OAuth Provider profile attributes to your Confluence attributes. Follow these steps to get started:
                    <ol>
                        <li>Go to <a href="configure.action">Configure OAuth</a> and click on Test Configuration.</li>
                        <li>Copy the <i>Attribute Name</i> and paste it against the <i>Attributes</i>
                        below.</li>
                    </ol>
                </p>
                <p>Don't want to map user profile attributes? Disable Attribute Mapping, save and skip to <a href="signinoptions.action">Sign In Settings</a></p><br/>
                
         	<form id="attribute-mapping-form" class="aui long-label" action="" method="POST">
                <input type="hidden" name="attributeMappingSubmitted" value="true"/>
                <input type="hidden" name="atl_token" value="$xsrfToken" />
                <input type="hidden" name="totalNumberOfRoles" id="idTotalNumberOfRoles" />
                    <div class="field-group">
                        <label for="keepExistingUserAttributes">Disable Attribute Mapping:</label>
                        #if($keepExistingUserAttributes == true)
                        	<input class="checkbox" type="checkbox" name="keepExistingUserAttributes" checked="true" value="true" id="keepExistingUserAttributes"/>
                        #else
                        	<input class="checkbox" type="checkbox" name="keepExistingUserAttributes" value="true" id="keepExistingUserAttributes"/>
                        #end
                        <span>If checked, attributes of existing users will not be updated.</span>
                        <div class="description aui-message aui-message-info" style="width:94%">
                            <p>If users are manged from the external user directory for e.g. AD/LDAP with the <b>read only</b> permission.
                            It is recommended to enable <b>"Disable User Profile Mapping"</b> option. <a href="https://miniorange.atlassian.net/wiki/spaces/JSDoc/pages/1237417989/User+Directory+Information" target="_blank">
                            Click here</a> for more details.</p>
                        </div>
                    </div>

                    <div class="field-group">
	                    <label for="loginUserAttribute">Login/Create Confluence user account by:</label>
	                    <select class="select" name="loginUserAttribute" id="loginUserAttribute" style="width:200px;">
	    				  <option value="username" #if($loginUserAttribute.equals("username"))selected #end>username</option>
	    				  <option value="email" #if($loginUserAttribute.equals("email"))selected #end>email</option>
	    				</select>
	    				 <div id="warningforemail" class="aui-message aui-message-warning" style="display:none;">
	                      	Email is not recommended. Select this option only when email of all the user is unique otherwise SSO will not work. 
	                    </div>
	                </div>
                    <div class="field-group">
                        <label for="usernameAttribute">Username:</label>
                        <input type="text" id="usernameAttribute" name="usernameAttribute"
                               value="$usernameAttribute" class="text long-field"  placeholder="Enter the Username attribute name."/>
                        <div class="description">Enter the OAuth-response attribute that contains Confluence Username.</div>
                    
                        <br/>
                        <div >
                         	#if($regexPatternEnabled == true)
                            	<input class="checkbox" type="checkbox" name="regexPatternEnabled" checked="true" value="true" id="regexPatternEnabled"/>
                       		#else
                            	<input class="checkbox" type="checkbox" name="regexPatternEnabled" value="true" id="regexPatternEnabled"/>
                        	#end
                        	<span> Apply regular expression on username field</span>
                        </div>
                        
                        <br/>
                        <div id="regexfield">
        	                <div>
        	                  <input type="text"  id="regexPattern" name="regexPattern" value="$regexPattern"
        	                         placeholder="Regular Expression" class="text long-field" style="width: 322px"/>&nbsp;
        	                  <input type="button" id="test-regex" value="Test Regex" class="aui-button" style="width:170px;"  />
        	                </div>
        	                <div class="description">Enter the regular expression here. It will be applied on value for Attribute Name provided in Username field.<br>
        	                        For example, you can use regular expression <b>^.*?(?=@)</b> to extract <b>demo</b> from username <b>demo@example.com</b>
        	                </div>
        	            </div>
                    </div>
                    
                    <div class="field-group">
                        <label for="emailAttribute">Email:</label>
                        <input type="text" id="emailAttribute" name="emailAttribute"
                               value="$emailAttribute" class="text long-field" placeholder="Enter the Email attribute name."/>
                        <div class="description">Enter the OAuth-response attribute that contains Email. You can specify a semicolon-separated (;) list of email addresses</div>
                    </div> 
                    <div class="field-group">
                        <label for="useSeparateNameAttributes">Separate Name Attributes:</label>
                        #if($useSeparateNameAttributes == true)
                        	<input class="checkbox" type="checkbox" checked="true" value="true"
                               name="useSeparateNameAttributes" id="useSeparateNameAttributes"/>
                        #else
                        	<input class="checkbox" type="checkbox" value="true"
                               name="useSeparateNameAttributes" id="useSeparateNameAttributes"/>
                        #end
                        <span>Check this if your IDP is sending First name and Last name as separate attributes</span>
                    </div>
                    <div id="fullNameAttributeDiv">
                    <div class="field-group">
                        <label for="fullNameAttribute">Full Name Attribute:</label>
                        <input type="text" id="fullNameAttribute" name="fullNameAttribute"
                               value="$fullNameAttribute" class="text long-field" placeholder="Enter the Full Name attribute name."/>
                        <div class="description">Enter the OAuth-response attribute that contains Full Name.</div>
                    </div>
                    </div>
                    <div id="separateNameAttributes">
                    <div class="field-group">
                        <label for="firstNameAttribute">First Name:</label>
                        <input type="text" id="firstNameAttribute" name="firstNameAttribute"
                               value="$firstNameAttribute" class="text long-field" placeholder="Enter the First Name attribute name."/>
                        <div class="description">Enter the OAuth-response attribute that contains First Name.</div>
                    </div>
                    <div class="field-group">
                        <label for="lastNameAttribute">Last Name:</label>
                        <input type="text" id="lastNameAttribute" name="lastNameAttribute"
                               value="$lastNameAttribute" class="text long-field" placeholder="Enter the Last Name attribute name."/>
                        <div class="description">Enter the OAuth-response attribute that contains Last Name.</div>
                    </div>
                    </div> 
                    <br/>

                <br/>
                <p style="font-size:13pt;">Configure User Properties(Extended Attributes) </p>
                <hr class="header"/>
                <div class="aui-message aui-message-info">
                    <p>Configure additional user profile attributes like user Phone, Location, Department etc.</p>
                    <div>
                        <ol>
                            <li>Click on <i>Add Attribute Mapping</i> button.</li>
                            <li>Select <i>Profile attribute</i> from dropdown list, e.g. <i>Phone</i></li>
                            <li>Configure <i>Attribute Name</i> from <i>Test Configuration</i> window for selected Profile Attribute. e.g. Attribute Name contains Phone Number. </li>
                        </ol>
                    </div>
                </div>
                <br/>

                <div class="field-group" id="attributeMappingContainer" name="attributeMappingContainer">
                    <input type='button' value='Add Attribute Mapping' id='addAttr' class="aui-button aui-button-primary" onclick="AddTextBox()">
                    <div id="attributeMappingInnerContainer" name="attributeMappingInnerContainer">
                        #set ($loopCount = 0)
                        #foreach($key in $customAttributeMapping.keySet())
                            <div>
                                <br/>
                                <select name="userAttrKey_$loopCount" id="userAttrKey_$loopCount" placeholder="Confluence Attribute" style="width:250px">
                                    #foreach($attr in $extendedAttributesList)
                                        console.log("$extendedAttributesList : ", $extendedAttributesList);
                                        <option value="$attr"
                                            #if($key.trim().equals($attr.trim()))
                                                selected
                                            #end
                                        >$attr
                                        </option>
                                    #end
                                </select>&nbsp&nbsp;
                                <input type="text" id="userAttrValue_$loopCount" style="vertical-align:bottom" name="userAttrValue_$loopCount" value="$customAttributeMapping.get($key)" placeholder="IdP's Attribute" class="text"/>&nbsp&nbsp;
                                <input type="button" value="Remove" style="vertical-align:bottom" class="aui-button aui-button-primary"  onclick = "RemoveTextBox(this, $loopCount)" />
                                #set ($loopCount = $loopCount+1)
                            </div>
                        #end
                    </div>
                </div>

                    <div class="field-group">
                        <input type="submit" value="Save" class="aui-button aui-button-primary" style="width:100px;"/>&nbsp;&nbsp;&nbsp;
                		<a href="configure.action" style="width:300px;">Back to configuration</a>
                    </div>
         	</form>
         </div>
		</div>
	   </section>
      </div>
     </div>
    </body>
</html>