<!-- Configure tab of the plugin, lets you configure OAuth client here -->

<html>
	<head>
	    <meta name="decorator" content="atl.general">
	    <script>
            #include("/js/video_guides.js")
            var flag;
	        jQuery(document).ready(function() {
	            jQuery(".aui-nav li").removeClass("aui-nav-selected");
	            jQuery("#aui-uid-2").addClass("aui-nav-selected");

                if($showRestApiMsg == true){
                    flag = require('aui/flag')({
                        title: 'Want to secure your REST API\'s?',
                        type: 'info',
                        close: 'manual',
                        body:  '<div style="width:500px;">' +
                                   '<p> Contact us <a href="https://miniorange.atlassian.net/servicedesk/customer/portal/2" target="_blank"><b>here</b></a></p>' +
                                   '<br>' +
                                   '<div style = "margin-left:-1em">' +
                                       '<button class="aui-button" id="remind-me-again">Remind me again</button>'+
                                       '<button class="aui-button" id="do-not-show-again" >Don\'t show this again</button>' +
                                   '</div>' +
                               '</div>'
                    });
                }
                selectApp();

	        });

            function remindMeAgain(){
                flag.close();
            }
            function doNotShowThisAgain(){
                flag.close();
                jQuery.ajax({
                    url: AJS.contextPath() + "/plugins/servlet/oauth/moapi",
                    type: "GET",
                    data: {
                        "action": "doNotShowRestApiMsgAgain"
                    }
                });
            }

	        function copyToClipboard(element, copyButton) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val($(element).text()).select();
                document.execCommand("copy");
                $temp.remove();
                $(copyButton).show();
                setTimeout(function() { $(copyButton).hide("slow"); }, 5000);
            }

	        function selectApp() {
            	var appname = document.getElementById("appName").value;
                AJS.$("#mo-video-guides-player").attr("href", renderVideoGuide(appname));
	            if (appname != "Custom App") {
	            	AJS.$("#customAppName").prop("required", false);
					AJS.$("#authorizeEndpoint").prop("required", false);
				    AJS.$("#accessTokenEndpoint").prop("required", false);
					AJS.$("#userInfoEndpoint").prop("required", false);

                    jQuery("#load_fetch_metadata_page").hide();
	            	jQuery("#authorize_endpoint").hide();
	                jQuery("#access_token_endpoint").hide();
					jQuery("#send_auth_parameter_in_div").hide();
	                jQuery("#user_info_endpoint").hide();
	                jQuery("#fetch_groups_endpoint").hide();
	                jQuery("#use_state_parameter").hide();
	                jQuery("#acr_value").hide();
	                jQuery("#nonce_div").hide();
	                jQuery("#custom_app_name").hide();
	                jQuery("#tenantIdDiv").hide();
	                jQuery("#domainNameDiv").hide();
					jQuery("#tenantID").prop('required',false);
					jQuery("#domainName").prop('required',false);

	                if(appname == "Facebook" || appname == "Meetup" || appname == "Keycloak") {
						AJS.$("#scope").prop("required", false);
					}
                    jQuery("#validateSignatureMethodDiv").hide();
                    jQuery("#publicKeyDiv").hide();
	                if (appname == "OpenID") {
						jQuery("#custom_app_name").show();
                        jQuery("#load_fetch_metadata_page").show();
	                	jQuery("#authorize_endpoint").show();
	                    jQuery("#access_token_endpoint").show();
	                    jQuery("#validateSignatureMethodDiv").show();

	                    jQuery("#use_state_parameter").show();
	                    jQuery("#acr_value").show();
	                    $("#nonce_div").css("display","inline");

						AJS.$("#customAppName").prop("required", true);
						AJS.$("#authorizeEndpoint").prop("required", true);
						AJS.$("#accessTokenEndpoint").prop("required", true);

                        displaySelectedValidateSignatureMethod();
	            	}

	            } else {

                    jQuery("#load_fetch_metadata_page").show();
	                jQuery("#authorize_endpoint").show();
	                jQuery("#access_token_endpoint").show();
					jQuery("#send_auth_parameter_in_div").show();
	                jQuery("#user_info_endpoint").show();
	                jQuery("#fetch_groups_endpoint").show();
	                jQuery("#use_state_parameter").show();
	                jQuery("#acr_value").show();

	                jQuery("#custom_app_name").show();
	                jQuery("#tenantIdDiv").hide();
	                 jQuery("#nonce_div").hide();
	                jQuery("#domainNameDiv").hide();
					jQuery("#tenantID").prop('required',false);
					jQuery("#domainName").prop('required',false);

	                AJS.$("#customAppName").prop("required", true);
					AJS.$("#authorizeEndpoint").prop("required", true);
				    AJS.$("#accessTokenEndpoint").prop("required", true);
					AJS.$("#userInfoEndpoint").prop("required", true);
	            }

	            jQuery("#enableCheckIssuerForDiv").hide();
                jQuery("#checkForIssuerContentDiv").hide();
                jQuery("#customIssuerDiv").hide();
                jQuery("#customIssuerValue").prop('required',false);

	            if (appname == "Google") {
	                jQuery("#verify_credentials_div").show();
	            } else {
	                jQuery("#verify_credentials_div").hide();
	            }
	            if (appname == "Azure AD" || appname == "Azure B2C") {
	        		jQuery("#tenantIdDiv").show();
	        		jQuery("#tenantID").prop('required',true);
	        	} else {
	        		jQuery("#tenantIdDiv").hide();
					jQuery("#tenantID").prop('required',false);
	        	}
	            if(appname == "ADFS" || appname == "AWS Cognito" || appname == "OKTA" || appname == "Salesforce" || appname == "miniOrange" || appname == "Gluu Server") {
	                AJS.$("#domainNameDiv").show();
	                AJS.$("#domainName").prop('required',true);
	            } else {
	                AJS.$("#domainNameDiv").hide();
	                AJS.$("#domainName").prop('required',false);
	            }

	            if(appname == "ADFS" || appname == "AWS Cognito" || appname == "OKTA"  || appname == "Keycloak"
	                    || appname == "Azure B2C" || appname == "OpenID") {
	                 jQuery("#validateSignatureMethodDiv").show();
	                 displaySelectedValidateSignatureMethod();
	                  $("#nonce_div").css("display","inline");
	            }

	            if (appname == "OpenID" || appname == "Custom App") {
					jQuery("#send_auth_parameter_in_div").show();
                }

	            if (appname == "Keycloak") {
        			jQuery("#hostNameDiv").show();
        			jQuery("#hostName").prop('required',true);
        			jQuery("#realmNameDiv").show();
        			jQuery("#validateSignatureMethodDiv").show();
        			jQuery("#realmName").prop('required',true);
        			jQuery("#scopeDiv").hide();
        			displaySelectedValidateSignatureMethod();
        		} else {
        			jQuery("#hostNameDiv").hide();
					jQuery("#hostName").prop('required',false);
					jQuery("#realmNameDiv").hide();
        			jQuery("#realmName").prop('required',false);
        			jQuery("#scopeDiv").show();
        		}
 	            if(appname == "ADFS" || appname == "AWS Cognito" || appname == "OKTA" || appname == "Keycloak"
 	                || appname == "Azure B2C" || appname == "OpenID") {
            	    jQuery("#enableCheckIssuerForDiv").show();
            	    var enableCheckIssuerFor = document.getElementById("enableCheckIssuerFor");
                    enableCheckIssuerFor = enableCheckIssuerFor.checked ? true : false;
            	    if (enableCheckIssuerFor == true) {
                        jQuery("#checkForIssuerContentDiv").show();
                        var checkIssuerForCustom = document.getElementById("checkIssuerForCustom");
                        checkIssuerForCustom = checkIssuerForCustom.checked ? true : false;
                        if (checkIssuerForCustom == true) {
                            jQuery("#customIssuerDiv").show();
                            jQuery("#customIssuerValue").prop('required',true);
                        } else {
                            jQuery("#customIssuerDiv").hide();
                            jQuery("#customIssuerValue").prop('required', false);
                        }
            	    } else {
                        jQuery("#checkForIssuerContentDiv").hide();
                        jQuery("#customIssuerDiv").hide();
                        jQuery("#customIssuerValue").prop('required',false);
            	    }
            	} else {
            	    jQuery("#enableCheckIssuerForDiv").hide();
                    jQuery("#checkForIssuerContentDiv").hide();
                    jQuery("#customIssuerDiv").hide();
                    jQuery("#customIssuerValue").prop('required',false);
            	}
           }
           #set ($count = $oauth_request_parameters.keySet().size())
         AJS.$(document).ready(function() {
            var cnt = '$count';
            document.getElementById("idTotalOauthParameters").value = cnt;
        });
         var counter = '$count';
        function getDynamicTextBox(value){
            return '<input id = "oauthParameterKey['+counter+']" name = "oauthParameterKey['+counter+']" type="text" class="text" placeholder="Parameter Name" style="width: 322px" value = "' + value + '" /> &nbsp&nbsp; <input id = "oauthParameterValue['+counter+']" name = "oauthParameterValue['+counter+']"  type="text" class="text" placeholder="Parameter Value" style="width: 322px" value = "' + value + '" />' +'&nbsp&nbsp;'+
                    '<input type="button" value="-" class="aui-button" style="background: #0052cc;color: white;" onclick = "removeTextBox(this,'+counter+')" />'+'<br><br>'
        }

        function removeTextBox(div, loopCount) {
            document.getElementById("userMappingInnerContainer").removeChild(div.parentNode);
        }

        function addTextBox() {
            var div = document.createElement('DIV');
            div.innerHTML = getDynamicTextBox("");
            var userMappingInnerContainer = document.getElementById("userMappingInnerContainer");
            userMappingInnerContainer.insertBefore(div,userMappingInnerContainer.childNodes[0] );
            counter++;
            document.getElementById("idTotalOauthParameters").value = parseInt(document.getElementById("idTotalOauthParameters").value) + 1;
        }

        function displaySelectedValidateSignatureMethod(){
             value = AJS.$("#validateSignatureMethod").val();
             if (value == "JWKSEndPointURLSelect") {
                 AJS.$("#publicKeyDiv").hide();
                 AJS.$("#JWKSEndpointURLDiv").show();
             } else {
                 AJS.$("#publicKeyDiv").show();
                 AJS.$("#JWKSEndpointURLDiv").hide();
             }
        }
	    </script>
	    <style>
	        .show-title:after {
	            content:attr(title);
	            font-weight: bold;
	            color: white;
	            padding:5px 10px;
	            margin-left: 20px;
	            border-radius: 2px;
	            border:1px solid #2D4D4D;
	            background: #2D4D4D;
	        }
            #fetch_metadata_page {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: auto;
                overflow: auto;
                background-color: rgb(0,0,0);
                background-color: rgba(0,0,0,0.4);
            }
            #fetch_metadata_page_content {
                background-color: #fefefe;
                margin: auto;
                padding: 20px;
                width: 750px;
                height: auto;
                border: 1px solid #888;
            }
    	</style>
	</head>
	<body>
	    #parse("template/com/miniorange/oauth/confluence/header.vm")
	    <div class="tabs-pane active-pane" id="configure-auth" role="tabpanel">
	        <p style="font-size:14pt;">Configure OAuth</p>
            <hr class="header" />

            <form id="fetch-metadata-form" name="fetch-metadata-from" class="aui long-label">
				<input type="hidden" name="atl_token" value="$xsrfToken" />
                <div id="fetch_metadata_page" class="aui long-label">
                    <div id="fetch_metadata_page_content">
                        <p style="font-size:16pt; text-align:center">Fetch Metadata Using URL</p>

                        <br>
                        <div style="padding-left:120px;" class="field-group">
                                <label for="metadata_url">Metadata URL:</label>
                            <input type="url" id="metadata_url" name="metadata_url" placeholder="Enter the Metadata URL." class="text long-field">
                            <div class="description">
                                Enter the Metadata URL of your OpenID Provider. <br>
                                On fetching the metadata, configuration fields will be automatically filled.<br>
                                e.g. For Keycloak, the Metadata URL is  <i>{hostname}/auth/realms/{realm-name}/.well-known/openid-configuration</i>
                            </div>
                        </div>
                        <br>
                        <div style="align:center; text-align:center;">
                            <input type="button" id="fetch" name="fetch" value="Fetch"  class="aui-button aui-button-primary" style="width:170px;"> &nbsp;&nbsp;&nbsp;
                            <input type="button" id="close" name="close" value="Close"  class="aui-button aui-button-primary" style="width:170px;">
                        </div>
                    </div>
                </div>
            </form>

            <form id="configure-oauth-form" name="configure-oauth-form" class="aui long-label" action="" method="POST">
                <input type="hidden" name="submitted" value="true" />
				<input type="hidden" name="atl_token" value="$xsrfToken" />
				<input type="hidden" name="totalOauthParameters" id="idTotalOauthParameters" />

				<div class="mo-flex">
					<div class="mo-width-60">
                        <div class="field-group" id="choose_app_msg">
                            <p style="font-size:11pt;">
                                Choose your Application from the list below to download its setup guide.
                            </p>
                        </div>
                        <br>
                        <div class="field-group">
                            <label for="selectApp">Select Application:
                                <span class="aui-icon icon-required">(required)</span>
                            </label>
                            <select required="true" class="select" name="appName" id="appName" value="$appName" onchange="selectApp(true)">
                                <optgroup label="OAuth Apps">
                                    #foreach($app in $defaultOauthApps)
                                        <option value="$app"
                                            #if($appName.equals($app))
                                                selected
                                            #end
                                        >$defaultApps.get($app)
                                        </option>
                                    #end
                                </optgroup>
                                <optgroup label="OpenID Apps">
                                    #foreach($app in $defaultOpenidApps)
                                        <option value="$app"
                                            #if($appName.equals($app))
                                                selected
                                            #end
                                        >$defaultApps.get($app)
                                        </option>
                                    #end
                                </optgroup>
                            </select>

                            <button type="button" id="appsetupguide" class="aui-button aui-button-primary mo-va-top" style="width:180px;">View Setup Guide</button>

                            #if($appName == "Custom App"|| $appName == "OpenID")
                                <button id="load_fetch_metadata_page" type="button" class="aui-button aui-button-primary mo-va-top">Fetch info by Metadata URL</button>
                            #else
                                <button style="display:none" id="load_fetch_metadata_page" type="button" class="aui-button aui-button-primary mo-va-top">Fetch info by Metadata URL</button>
                            #end
                            &emsp;
                            <a href="" target="_blank" id="mo-video-guides-player"><img id="mo-yt-icon" src="$req.contextPath/download/resources/com.miniorange.oauth.confluence-oauth:oauth.plugin.image.resource/yticon/youtube_icon.png"></a>                        </div><br>

                        <div class="field-group" id="callback-url">
                            <label for="customCallbackParameter">Callback URL:</label>
                            <div id="saved-callback-div" title="click to copy">
                                <div id="display-callback-div" onmousedown="copyToClipboard(this, '#p2')">$settings.getCallBackUrl()$settings.getCustomCallbackParameter()</div>
                                <span id="edit-callback-url-button" class="aui-button aui-button-subtle aui-icon aui-icon-small aui-iconfont-edit" title="edit callback"></span>
                                <span id = "p2" title="Copied" class="show-title" style="display: none;"></span>
                            </div>
                            <div id="edit-callback-div" style="display: none">
                                <div>$settings.getCallBackUrl()/<input type="text" id="customCallbackParameter" style="width: 250px;" placeholder="Enter the custom callback parameter."
                                                                       name="customCallbackParameter" value="$settings.getCustomCallbackParameter()" class="text long-field" /> &nbsp;&nbsp;&nbsp;
                                </div>
                                <a id="save-callback-button" class="aui-button aui-button-subtle aui-icon aui-icon-small aui-iconfont-success" title="save"></a>
                                <a id="cancel-callback-button" class="aui-button aui-button-subtle aui-icon aui-icon-small aui-iconfont-close-dialog" title="cancel"></a>
                            </div>
                            <div class="description">
                                Use Callback URL to configure applications in the OAuth Provider under Authorized Callback URL's.
                            </div>
                            <p id="default-callback-url" style="display: none">$settings.getCallBackUrl()</p>
                        </div>
					</div>
                </div>


                <h2 style="margin: 10px 10px 0 6%;">General Settings: </h2>
                <hr style="margin: 5px 0px 14px;">
                #if($appName == "Custom App")
                    <div class="field-group" id="custom_app_name">
                        <label for="customAppName">App Name:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="text" id="customAppName" placeholder="Enter the Custom app name." name="customAppName"
                        	value="$customAppName" class="text long-field" />
                    </div>
                #else
                    <div class="field-group" style="display: none" id="custom_app_name">
                        <label for="customAppName">App Name:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="text" id="customAppName" placeholder="Enter the Custom app name."
                        	name="customAppName" value="$customAppName" class="text long-field" />
                    </div>
                #end
                <div class="field-group">
                    <label for="">Client ID:
                    	<span class="aui-icon icon-required">(required)</span>
                    </label>
                    <input type="text" id="clientID" placeholder="Enter the Client ID." name="clientID" value="$clientID"
                    	class="text long-field" required/>
                </div>
                <div class="field-group">
                    <label for="">Client Secret:
                    	<span class="aui-icon icon-required">(required)</span>
                    </label>
                    <input type="text" id="clientSecret" placeholder="Enter the client secret." name="clientSecret"
                    	value="$clientSecret" class="text long-field" required/>
                </div>
                #if($appName != "Keycloak")
                    <div id="scopeDiv" class="field-group">
                        <label for=""> Scope: </label>
                        <input type="text" id="scope" name="scope" value="$scope" class="text long-field"
                        placeholder="Enter the scope. Scopes have to be space separated. eg: scope1 scope2" />
                    </div>
                #else
                    <div style="display: none"  id="scopeDiv" class="field-group">
                        <label for=""> Scope: </label>
                        <input type="text" id="scope" name="scope" value="$scope" class="text long-field"
                         placeholder="Enter the scope. Scopes have to be space separated. eg: scope1 scope2" />
                    </div>
                #end

                #if($appName == "Custom App" || $appName == "OpenID")
                    <div id="authorize_endpoint" class="field-group">
                        <label for="">Authorize Endpoint:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="url" id="authorizeEndpoint" placeholder="Enter authorize endpoint for custom app."
                        	name="authorizeEndpoint" value="$authorizeEndpoint" class="text long-field" />
                    </div>
                    <div id="access_token_endpoint" class="field-group">
                        <label for="">Access Token Endpoint:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="url" id="accessTokenEndpoint" placeholder="Enter access token endpoint for custom app."
                        	name="accessTokenEndpoint" value="$accessTokenEndpoint" class="text long-field" />
                    </div>
                #else
                    <div style="display: none" id="authorize_endpoint" class="field-group">
                        <label for="">Authorize Endpoint:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="url" id="authorizeEndpoint" placeholder="Enter authorize endpoint for custom app."
                        	 name="authorizeEndpoint" value="$authorizeEndpoint" class="text long-field" />
                    </div>
                    <div style="display: none" id="access_token_endpoint" class="field-group">
                        <label for="">Access Token Endpoint:
                        	<span class="aui-icon icon-required">(required)</span>
                        </label>
                        <input type="url" id="accessTokenEndpoint" placeholder="Enter access token endpoint for custom app."
                        	name="accessTokenEndpoint" value="$accessTokenEndpoint" class="text long-field" />
                    </div>
                #end


				#if($appName == "Custom App")
                	<div id="user_info_endpoint" class="field-group">
		                <label for="">Get User Info Endpoint:
		                	<span class="aui-icon icon-required">(required)</span>
		                </label>
		                <input type="url" id="userInfoEndpoint" placeholder="Enter user info endpoint for custom app."
		                	name="userInfoEndpoint" value="$userInfoEndpoint" class="text long-field" />
		            </div>

		            <div id="fetch_groups_endpoint" class="field-group">
		                <label for="">Fetch Groups Endpoint:</label>
		                <input type="url" id="fetchGroupsEndpoint" placeholder="Enter fetch groups endpoint for custom app."
		                	name="fetchGroupsEndpoint" value="$fetchGroupsEndpoint" class="text long-field" />
		            </div>
		        #else
		    	   <div style="display: none" id="user_info_endpoint" class="field-group">
		               <label for="">Get User Info Endpoint:
		               	<span class="aui-icon icon-required">(required)</span>
		               </label>
		               <input type="url" id="userInfoEndpoint" placeholder="Enter user info endpoint for custom app."
		               	name="userInfoEndpoint" value="$userInfoEndpoint" class="text long-field" />
		           </div>

		           <div style="display: none" id="fetch_groups_endpoint" class="field-group">
		               <label for="">Fetch Groups Endpoint:</label>
		               <input type="url" id="fetchGroupsEndpoint" placeholder="Enter fetch groups endpoint for custom app."
		               	name="fetchGroupsEndpoint" value="$fetchGroupsEndpoint" class="text long-field" />
		           </div>
                #end


                #if($appName == "Azure AD" || $appName == "Azure B2C")
            		<div id="tenantIdDiv" class="field-group">
	                    <label for="">Tenant ID:
	                        <span class="aui-icon icon-required">(required)</span>
	                    </label>
	                    <input type="text" id="tenantID" placeholder="Enter tenant ID" name="tenantID" value="$tenantID" class="text long-field" />
	                </div>
	            #else
	            	<div style="display: none" id="tenantIdDiv" class="field-group">
		                <label for="">Tenant ID:
		                    <span class="aui-icon icon-required">(required)</span>
		                </label>
		                <input type="text" id="tenantID" placeholder="Enter tenant ID" name="tenantID" value="$tenantID" class="text long-field" />
		            </div>
            	#end
            	#if($appName == "Keycloak")
            		<div id="hostNameDiv" class="field-group">
	                    <label for="">Host Name:
	                        <span class="aui-icon icon-required">(required)</span>
	                    </label>
	                    <input type="text" id="hostName" name="hostName" value="$hostName" class="text long-field" placeholder="Enter host name. e.g. https://test.server.com"/>
                        <div class="description">
                            Enter host name of your keycloak instance. Eg: http://&lt;domain name&gt;
                        </div>
	                </div>
	                <div id="realmNameDiv" class="field-group">
	                    <label for="">Realm Name:
	                        <span class="aui-icon icon-required">(required)</span>
	                    </label>
	                    <input type="text" id="realmName" name="realmName" value="$realmName" class="text long-field" placeholder="Enter realm name."/>
	                </div>
	            #else
	            	<div style="display: none" id="hostNameDiv" class="field-group">
		                <label for="">Host Name:
		                    <span class="aui-icon icon-required">(required)</span>
		                </label>
		                <input type="text" id="hostName" name="hostName" value="$hostName" class="text long-field" placeholder="Enter host name. e.g. https://test.server.com"/>
                        <div class="description">
                            Enter host name of your keycloak instance. Eg: http://&lt;domain name&gt;
                        </div>
		            </div>
	            	<div style="display: none" id="realmNameDiv" class="field-group">
		                <label for="">Realm Name:
		                    <span class="aui-icon icon-required">(required)</span>
		                </label>
		                <input type="text" id="realmName" name="realmName" value="$realmName" class="text long-field" placeholder="Enter realm name."/>
		            </div>
            	#end
            	#if($appName == "ADFS" || $appName == "AWS Cognito" || $appName == "OKTA" || $appName == "Salesforce" || $appName == "miniOrange" || $appName == "Gluu Server")
            		<div id="domainNameDiv" class="field-group">
	                    <label for="">Domain Name:
	                        <span class="aui-icon icon-required">(required)</span>
	                    </label>
	                    #if($appName == "OKTA")
	                        <input type="url" id="domainName" placeholder="Enter Domain Name e.g. https://test.okta.com" name="domainName" value="$domainName" class="text long-field" />
	                    #else
	                        <input type="url" id="domainName" placeholder="Enter domain name" name="domainName" value="$domainName" class="text long-field" />
	                    #end
	                </div>
	            #else
	            	<div style="display: none" id="domainNameDiv" class="field-group">
		                <label for="">Domain Name:
		                    <span class="aui-icon icon-required">(required)</span>
		                </label>
		                <input type="url" id="domainName" placeholder="Enter domain name" name="domainName" value="$domainName" class="text long-field" />
		            </div>
            	#end

            	 <div class="field-group">
                    <label for="">Logout Endpoint:</label>
                     <input type="url"  id="singleLogoutURL" placeholder="Enter Logout Endpoint."
                     name="singleLogoutURL" value="$singleLogoutURL" class="text long-field" />
                     <div class="description">
                        Enter Logout Endpoint of your OAuth/OpenID Provider. Leave blank if Logout URL is not supported by provider.<br>
                        e.g. If Keycloak Logout URL configured with </i>http://{domain-name}/auth/realms/{realm-name}/protocol/openid-connect/logout?redirect_uri=encodedRedirectUri</i>,<br> then on confluence logout you will get logged out from Keycloak too.
                     </div>
                 </div>
                    <h2 style="margin: 10px 10px 0 4%;">Advanced Settings: </h2>
                    <hr style="margin: 5px 0px 14px;">
                #if($appName == "Custom App" || $appName == "OpenID")
                <fieldset id ="send_auth_parameter_in_div"  class="group">
                    <legend>
                        <span>Send Parameters in Token Endpoint:</span>
                    </legend>
                    #if($sendTokenAuthParameterIn == "HttpHeader")
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpHeader" value="HttpHeader" checked="checked" />
                    #else
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpHeader" value="HttpHeader" /> #end
                    <label for="HttpHeader">Http Header</label>

                    #if($sendTokenAuthParameterIn == "HttpBody")
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpBody" value="HttpBody" checked="checked" />
                    #else
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpBody" value="HttpBody" /> #end
                    <label for="HttpBody">Http Body</label>

                </fieldset>
                #else
                <fieldset class="group" id ="send_auth_parameter_in_div" style="display: none">
                    <legend>
                        <span>Send Parameters in Token Endpoint:</span>
                    </legend>
                    #if($sendTokenAuthParameterIn == "HttpHeader")
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpHeader" value="HttpHeader" checked="checked" />
                    #else
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpHeader" value="HttpHeader" /> #end
                    <label for="HttpHeader">Http Header</label>

                    #if($sendTokenAuthParameterIn == "HttpBody")
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpBody" value="HttpBody" checked="checked" />
                    #else
                    <input class="radio" type="radio" name="sendTokenAuthParameterIn" id="HttpBody" value="HttpBody" /> #end
                    <label for="HttpBody">Http Body</label>
                </fieldset>

                #end

                #if($appName == "ADFS" || $appName == "AWS Cognito" || $appName == "OKTA" || $appName == "Keycloak"
                    || $appName == "Azure B2C" || $appName == "OpenID")
                    <div class="field-group" id="enableCheckIssuerForDiv">
                        <label for="enableCheckIssuerFor">Issuer Check:</label>
                        #if ($enableCheckIssuerFor == true)
                            <input class="checkbox" type="checkbox" name="enableCheckIssuerFor" checked="true" value="true" id="enableCheckIssuerFor" />
                        #else
                            <input class="checkbox" type="checkbox" name="enableCheckIssuerFor" value="true" id="enableCheckIssuerFor" />
                        #end
                        <span>If checked, it will verify issuer in the response.</span>
                    </div>

                    #if ($enableCheckIssuerFor == true)
                        <div class="field-group" id="checkForIssuerContentDiv">
                            #if($checkIssuerFor == "Default")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default" checked="checked"/>
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default"/>
                            #end
                            <span>Default</span>

                            #if($checkIssuerFor == "Custom")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" checked="checked" />
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" />
                            #end
                            <span>Custom</span>
                        </div>
                    #else
                        <div class="field-group" id="checkForIssuerContentDiv" style="display:none">
                            #if($checkIssuerFor == "Default")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default" checked="checked"/>
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default"/>
                            #end
                            <span>Default</span>

                            #if($checkIssuerFor == "Custom")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" checked="checked" />
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" />
                            #end
                            <span>Custom</span>
                        </div>
                    #end

                    #if($enableCheckIssuerFor == true && $checkIssuerFor == "Custom")
                        <div class="field-group" id="customIssuerDiv">
                            <label for="">Custom Issuer:</label>
                            <input type="text" id="customIssuerValue" placeholder="Enter Custom Issuer" name="customIssuerValue" value="$customIssuerValue" class="text long-field" required="true"/>
                        </div>
                    #else
                        <div class="field-group" id="customIssuerDiv" style="display:none">
                            <label for="">Custom Issuer:</label>
                            <input type="text" id="customIssuerValue" placeholder="Enter Custom Issuer" name="customIssuerValue" value="$customIssuerValue" class="text long-field"/>
                        </div>
                    #end
                #else
                    <div class="field-group" id="enableCheckIssuerForDiv" style="display:none">
                        <label for="enableCheckIssuerFor">Check issuer in Response:</label>
                        #if ($enableCheckIssuerFor == true)
                            <input class="checkbox" type="checkbox" name="enableCheckIssuerFor" checked="true" value="true" id="enableCheckIssuerFor" />
                        #else
                            <input class="checkbox" type="checkbox" name="enableCheckIssuerFor" value="true" id="enableCheckIssuerFor" />
                        #end
                    </div>

                    #if ($enableCheckIssuerFor == true)
                        <div class="field-group" id="checkForIssuerContentDiv">
                            #if($checkIssuerFor == "Default")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default" checked="checked"/>
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default"/>
                            #end
                            <span>Default</span>

                            #if($checkIssuerFor == "Custom")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" checked="checked" />
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" />
                            #end
                            <span>Custom</span>
                        </div>
                    #else
                        <div class="field-group" id="checkForIssuerContentDiv" style="display:none">
                            #if($checkIssuerFor == "Default")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default" checked="checked"/>
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForDefault" value="Default"/>
                            #end
                            <span>Default</span>

                            #if($checkIssuerFor == "Custom")
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" checked="checked" />
                            #else
                                <input class="radio" type="radio" name="checkIssuerFor" id="checkIssuerForCustom" value="Custom" />
                            #end
                            <span>Custom</span>
                        </div>
                    #end

                    #if($enableCheckIssuerFor == true && $checkIssuerFor == "Custom")
                        <div class="field-group" id="customIssuerDiv">
                            <label for="">Custom Issuer:</label>
                            <input type="text" id="customIssuerValue" placeholder="Enter Custom Issuer" name="customIssuerValue" value="$customIssuerValue" class="text long-field" required="true"/>
                        </div>
                    #else
                        <div class="field-group" id="customIssuerDiv" style="display:none">
                            <label for="">Custom Issuer:</label>
                            <input type="text" id="customIssuerValue" placeholder="Enter Custom Issuer" name="customIssuerValue" value="$customIssuerValue" class="text long-field"/>
                        </div>
                    #end

                #end
                    <div class="field-group" id="validateSignatureMethodDiv" #if($appName == "ADFS" || $appName == "AWS Cognito" || $appName == "OKTA"
            	|| $appName == "Keycloak" || $appName == "Azure B2C" || $appName == "OpenID") style="display: block" #else style="display: none"  #end>
                    <label for="validateSignatureMethod">I have:</label>
                      <select class="select" name="validateSignatureMethod" id="validateSignatureMethod" style="width:200px;">
                        <option value="publicKeySelect" #if($validateSignatureMethod.equals("publicKeySelect"))selected #end>Public Key</option>
                        <option value="JWKSEndPointURLSelect" #if($validateSignatureMethod.equals("JWKSEndPointURLSelect"))selected #end>JWKS EndPoint URL</option>
                      </select>
                    </div>
                    <div style="display: none" class="field-group" id="publicKeyDiv" >
                        <label for="">Public Key:</label>
                        <textarea id="publicKey" placeholder="Enter public key." name="publicKey" class="textarea long-field" style="font-family:Courier New;" cols="64"
                            rows="4">$publicKey</textarea>
                    </div>
                    <div style="display: none" id="JWKSEndpointURLDiv" class="field-group">
                        <label for="">JWKS Endpoint:
                           </label>
                        <input type="url" id="jWKSEndpointURL" placeholder="Enter JWKS Endpoint URL." name="jWKSEndpointURL" value="$jWKSEndpointURL" class="text long-field" />
                    </div>

                #if($appName=="Google")
                    <div id="verify_credentials_div" class="field-group">
                        <label for="verify-credentials">Verify Credentials:</label>
                        <input type="button" id="verify-credentials" value="Verify Admin Credentials" class="aui-button" />
                        <div class="description">Verify Credentials using Admin Account only, else users will not be able to login.</div>
                    </div>
                #else
                    <div id="verify_credentials_div" style="display: none;" class="field-group">
                        <label for="verify-credentials">Verify Credentials</label>
                        #if (($clientID != "" ) && ($clientSecret != "" ))
                        	<input type="button" id="verify-credentials" value="Verify Admin Credentials" class="aui-button">
                        #else
                        	<button class="aui-button" aria-disabled="true" disabled style="width:170px;">Verify Admin Credentials</button>
                        #end
                        <div class="description">Verify Credentials using Admin Account only. Or else users will not be able to log in.</div>
                    </div>
                #end

        <div class="field-group" id="UserCustomAttributeContainer" name = "UserCustomAttributeContainer">
            <label>Authorization Request Parameters:</label>
            <div style="margin-top:10px">
                <input class="checkbox" type="checkbox" name="acrValueCheck" value="true" id="acrValueCheck"
                       #if ($acrValueCheck == true) checked="checked" #end /> <label for="acrValueCheck">ACR Value</label> &nbsp;&nbsp;

                <input class="checkbox" type="checkbox" name="useStateParameter" value="true" id="useStateParameter"
                       #if ($useStateParameter == true) checked="checked" #end /> <label for="useStateParameter">State Parameter</label> &nbsp;&nbsp;
                #if($defaultOpenidApps.contains($appName))
                <div id="nonce_div"  style="display:inline">
                <input class="checkbox" type="checkbox" name="nonceCheck" value="true" id="nonceCheck"
                       #if($nonceCheck == true) checked="checked" #end /> <label for="nonceCheck">Nonce</label>
                </div>
                #else
                <div id="nonce_div" style="display:none" >
                <input class="checkbox" style="display:inline" type="checkbox" name="nonceCheck" value="true" id="nonceCheck"
                       #if($nonceCheck == true) checked="checked" #end /> <label for="nonceCheck">Nonce</label>
                </div>
                #end
                <br><div class="description">Selected parameter will be added in the authorized server request.</div>
            </div>
            <div style="margin-top:10px"><span>Add More Parameters </span>&nbsp&nbsp
            <input type='button' style="background: #0052cc;color: white; width:4%" value='+' id='addUserAttr' class="aui-button" onclick="addTextBox()">
            <div class="description">
                Enter the parameters and associate values which will added in the authorization request.<br>
            </div></div>
            <div id="userMappingInnerContainer" name="userMappingInnerContainer">
                #set ($loopCount = 0)
                #foreach($key in $oauth_request_parameters.keySet())
                <div>
                    <br/>
                    <input type="text" id="oauthParameterKey[$loopCount]" name="oauthParameterKey[$loopCount]" value="$key" class="text"/>&nbsp&nbsp;
                    <input type="text" id="oauthParameterValue[$loopCount]" name="oauthParameterValue[$loopCount]" value="$oauth_request_parameters.get($key)" class="text"/>&nbsp&nbsp;
                    <input type="button" style="background: #0052cc;color: white;" value="-" class="aui-button"  onclick = "removeTextBox(this, $loopCount)" />
                    #set ($loopCount = $loopCount+1)
                </div>
                #end
            </div>
            <!--Dynamic Textboxes will be added here -->
        </div>
                <br>

                <div class="field-group">
                    <input type="submit" value="Save" class="aui-button aui-button-primary" style="width:170px;" /> &nbsp;&nbsp;&nbsp;
                    #if ($appName != "Custom App")
                        #if (($clientID != "" ) && ($clientSecret != "" ))
                            <input type="button" id="test-oauth-configuration" value="Test Configuration" class="aui-button" style="width:170px;"  />
                        #else
                            <button class="aui-button" aria-disabled="true" disabled style="width:170px;">Test Configuration</button>
                        #end
                    #else
                        #if (($customAppName != "" ) && ($clientID != "" ) && ($clientSecret != "" ) &&
                        	($authorizeEndpoint != "" ) && ($accessTokenEndpoint != "" ) && ($userInfoEndpoint != "" ))
                        	<input type="button" id="test-oauth-configuration" value="Test Configuration" class="aui-button" style="width:170px;"  />
                        #else
                        	<button class="aui-button" aria-disabled="true" disabled style="width:170px;">Test Configuration</button>
                        #end
                    #end
                </div>
            </form>
	        </div>
	    </div>
	    </section>
	    </div>
	    </div>
	</body>
</html>