<html>
 <head>
     $webResourceManager.requireResource("$pluginproperties.pluginkey:resources")
 	 <meta name="decorator" content="atl.general">
	 <style>
		 #main.aui-page-panel {
			 border: 1px solid #ccc;
			 border-radius: 5px;
			 margin: 50px auto 0 auto;
			 min-height: 190px;
			 overflow: auto;
			 max-width: 500px;
		 }
	 </style>
 </head>
  <body id ="com-atlassian-confluence" class="theme-default login aui-layout aui-theme-default" >
	<div id = "stp-licenseStatus-banner" ></div>
		<div id="page">
			<div id="full-height-container">
				<div id="login-container">
					<div class="login-section ">
						<div class="aui-message aui-message-success shadowed">
							<p class="title">You have been successfully logged out. Any automatic login has also been stopped.</p>
							<p>Didn't mean to log out?<a href="$baseUrl/login.action"> Log in again.</a><p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 </body>
</html>